%h2 .Web Simple Sample
%p
	To learn more about the .Web Toolkit visit 
		%a{ href="http://dotweb.com" title=".WEB Toolkit Website" }
			http://dotweb.com
%script{ type="text/javascript" src="../../js/Tuple.js" }

= Html.ClientCode("DotWeb.Sample.Script.SimpleScript, DotWeb.Sample.Script")
