%h2 DotWeb Simple Sample
%p
	To learn more about the DotWeb Toolkit visit 
		%a{ href="http://www.dotweb-toolkit.com" title="DotWeb Toolkit Sample Site" }
			http://www.dotweb-toolkit.com
%script{ type="text/javascript" src="../../js/Tuple.js" }

= Html.ClientCode("DotWeb.Sample.Script.SimpleScript, DotWeb.Sample.Script", (string)ViewData["Mode"])
