%h1 Tests Directory

%ul
	%li= Html.ActionLink("Sanity", "Sanity", "Test")
	%li= Html.ActionLink("Event Handler", "EventHandler", "Test")
	%li= Html.ActionLink("Native Callback", "NativeCallback", "Test")
	%li= Html.ActionLink("Expando", "Expando", "Test")
