%h1 Native Callback Test

%p 
	This test interweaves the call stack with .NET and native objects.
	%br
	It should produce an 'OK' alert if everything works.

%script{ type="text/javascript" }
	\function NativeCaller(config) {
	\	for(var key in config){
	\		this[key] = config[key];
	\	}
	\};
	\
	\NativeCaller.prototype.Start = function() { 
	\	this.nativeObject.NativeCall(); 
	\};
	\
	\function NativeObject() {
	\};
	\
	\NativeObject.prototype.NativeCall = function() {
	\	alert('OK');
	\};
	
#box
	
= Html.ClientCode("DotWeb.Sample.Script.Test.NativeCallback, DotWeb.Sample.Script")

